// Variables de colores
$color-fondo: #f5f0e1;
$color-texto: #2e2e2e;
$color-titulos: #3c2a1e;
$color-oro: #ffd700;
$color-oro-claro: #f8e473;
$color-rojo-titulo-card: #7f0909;
$color-borde-carta: #d0c4a5;
$color-borde-casa: #7f0909;

// Variables para inputs y botones
$color-input-fondo: #fff;
$color-input-texto: #2e2e2e;
$color-input-placeholder: #777;
$color-input-borde: #ccc;
$color-input-focus-borde: $color-oro;
$color-boton-fondo: $color-texto;
$color-boton-texto: #fff;
$color-boton-hover: $color-oro;
$color-boton-hover-texto: $color-texto;

// Rutas imágenes
$imagen-hero: '../img/hogwarts-hero.jpg';
