// Colores principales
$color-fondo: #f5f0e1;
$color-texto: #2e2e2e;
$color-titulos: #3c2a1e;
$color-oro: #ffd700;
$color-oro-claro: #f8e473;

// Colores específicos para cartas y bordes
$color-rojo-titulo-card: #7f0909;
$color-borde-carta: #d0c4a5;
$color-borde-casa: #7f0909;

// Colores para formularios y botones
$color-input-fondo: #fff;
$color-input-texto: #2e2e2e;
$color-input-placeholder: #777;
$color-input-borde: #ccc;
$color-input-focus-borde: $color-oro;

$color-boton-fondo: $color-texto;
$color-boton-texto: #fff;
$color-boton-hover: $color-oro;
$color-boton-hover-texto: $color-texto;

// Rutas de imágenes
$imagen-hero: '../img/hogwarts-hero.jpg';

// Colores adicionales para estados y sombras mágicas
$color-sombra-magica: rgba(255, 215, 0, 0.6);
$color-fondo-magico-gradiente-start: #f5f0e1;
$color-fondo-magico-gradiente-end: #3c2a1e;

$colores-casas: #7f0909, #0d6217, #000a90, #ecb939; // Gryffindor, Slytherin, Ravenclaw, Hufflepuff
